player-stats {
  .nameHeader {
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
      text-overflow: ellipsis;
      max-width: 80%;
      overflow: hidden;
    }
  }
  
  .nameIcon {
    margin-left: auto;
    margin-right: 5px;
  }
  
  .editPlayerBtn {
    margin-left: auto;
  }
}
