<!-- Generated template for the EditStatsModalComponent component -->
<div class="editPlayer">
  <div class="editHeader">
    <h2>Editing {{player.name}}</h2>
  </div>
  <div class="playerInput">
    <div>
      <ion-icon name="person" class="nameIcon"></ion-icon>
      <ion-label class="editLabel">Name:</ion-label>
    </div>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </div>
  
  <div class="editGrid">
    <div class="playerInput">
      <div>
        <ion-icon name="podium"></ion-icon>
        <ion-label class="editLabel">Total Matches:</ion-label>
      </div>
      <ion-input [(ngModel)]="totalMatches" type="number"></ion-input>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="trophy"></ion-icon>
        <ion-label class="editLabel">Matches Won:</ion-label>
      </div>
      <ion-input [(ngModel)]="matchesWon" type="number"></ion-input>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="flag"></ion-icon>
        <ion-label class="editLabel">Total Flubs:</ion-label>
      </div>
      <ion-input [(ngModel)]="flubs" type="number"></ion-input>
    </div>
  </div>
  
  <div id="modalBtns">
    <button class="mainPageBtn" ion-button expand="block" color="primary">
      <span>Confirm Changes</span>
    </button>
    <button class="mainPageBtn" (click)="onCancel()" ion-button expand="block" color="danger">
      <span>Cancel</span>
    </button>
  </div>
</div>