<!-- Generated template for the EditStatsModalComponent component -->
<div class="editPlayer">
  <div class="editHeader">
    <h2>Editing {{player.name}}</h2>
  </div>
  <div class="playerInput">
    <div style="font-size: 20px;">
      <ion-icon name="person" class="nameIcon"></ion-icon>
      <ion-label class="editLabel">Name: {{name}}</ion-label>
      <button (click) = "onRenameClicked()" ion-button expand="block" color="primary">
        <span>Rename</span>
      </button>
    </div>
  </div>
  
  <div class="editGrid">
    <div class="playerInput">
      <div>
        <ion-icon name="podium"></ion-icon>
        <ion-label class="editLabel">Total Matches:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="totalMatches == 0" (click)="totalMatches = subtractStat(totalMatches)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{totalMatches}}</ion-label>
        <button class="" (click)="totalMatches = addStat(totalMatches)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="trophy"></ion-icon>
        <ion-label class="editLabel">Matches Won:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="matchesWon == 0" (click)="matchesWon = subtractStat(matchesWon)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{matchesWon}}</ion-label>
        <button class="" (click)="matchesWon = addStat(matchesWon)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="flag"></ion-icon>
        <ion-label class="editLabel">Total Flubs:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="flubs == 0" (click)="flubs = subtractStat(flubs)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{flubs}}</ion-label>
        <button class="" (click)="flubs = addStat(flubs)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="tennisball"></ion-icon>
        <ion-label class="editLabel">Total Points:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="points == 0" (click)="points = subtractStat(points)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{points}}</ion-label>
        <button class="" (click)="points = addStat(points)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="star"></ion-icon>
        <ion-label class="editLabel">Total Aces:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="aces == 0" (click)="aces = subtractStat(aces)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{aces}}</ion-label>
        <button class="" (click)="aces = addStat(aces)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="bookmark"></ion-icon>
        <ion-label class="editLabel">Total Double Flubs:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="doubleFlubs == 0" (click)="doubleFlubs = subtractStat(doubleFlubs)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{doubleFlubs}}</ion-label>
        <button class="" (click)="doubleFlubs = addStat(doubleFlubs)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
    
    <div class="playerInput">
      <div>
        <ion-icon name="thumbs-down"></ion-icon>
        <ion-label class="editLabel">Total Penalties:</ion-label>
      </div>
      <div class="statAdjuster">
        <button [disabled]="penalties == 0" (click)="penalties = subtractStat(penalties)" ion-button expand="block" color="danger">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <ion-label>{{penalties}}</ion-label>
        <button class="" (click)="penalties = addStat(penalties)" ion-button expand="block" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  
  <div id="modalBtns">
    <button (click)="onConfirm()" ion-button expand="block" color="primary">
      <span>Confirm Changes</span>
    </button>
    <button (click)="onCancel()" ion-button expand="block" color="danger">
      <span>Cancel</span>
    </button>
  </div>
</div>